@import "genaral__style";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;

}

.container-header {
  background: linear-gradient(to bottom left, $color4 90%, $color2);
  @include flex(flex, column, center, space-around);

}

.navigation {
  @include flex(flex, row, space-between, flex-start);
  padding: 2vw;
}

.container-info {
  @include flex(flex, column, space-around, center)
}

.info-lang {
  @include flex(flex, row, space-around, center);

  &__el {
    @include font_settings($font-family-Montserrat, 1rem, 700);
    padding: 0.7vw;
    color: $color1;

    &--isHighlighted {
      background: $color2;
      border-radius: 18px;
    }
  }

  &__link {
    @include font_settings($font-family-Montserrat, 1.3rem, 700);
    padding: 0.7vw;
    color: $color1;

  }


}

.logos {
  position: relative;
  text-align: center;


  &__text {
    text-align: center;
    @include font_settings($font-family-Montserrat, 3.16rem, 700);
    color: $color1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: pre;
  }

  &__symbol {
    position: absolute;
    top: 90%;
    left: 40%;
  }
}

.business {
  @include flex(flex, row, center, center);

  &__items {
    border-right: solid 1px $color5;
    padding: 2vw;
    text-align: center;
    @include font_settings($font-family-Montserrat, 3.16rem, 700);
    color: $color5;

    :first-child {
      background: -webkit-linear-gradient($color2, $color1);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

  }

  &__text {
    width: 50%;
    padding: 2vw;
    text-align: center;
    @include font_settings($font-family-Montserrat, 1.58rem, 400);
    color: $color1;


    :first-child {
      @include font_settings($font-family-Montserrat, 2.5rem, 700);
    }
  }
}

.services {
  padding-top: 2vw;
  padding-left: 6vw;
  @include flex(flex, column, center, flex-start);
  gap: 1vw;

  &__header {
    color: $color2;
    @include font_settings($font-family-Montserrat, 3.16rem, 700);
  }

  &__link {
    color: $color3;
    @include font_settings($font-family-Montserrat, 1.16rem, 700);
    text-transform: uppercase;
  }
}

.table {
  @include grid(grid, repeat(3, auto), repeat(3, auto));
  gap: 2vw;
  column-gap: 3vw;
  padding: 2vw;

}

.table-infos {
  @include flex(flex, column, flex-start, center);
  gap: 2vw;

  &__header {
    color: $color3;
    @include font_settings($font-family-Montserrat, 1.83rem, 700);

  }

  &__text {
    color: $color1;
    @include font_settings($font-family-Montserrat, 1.3rem, 400);

  }
}

@media (min-width: 390px) and (max-width: 768px) {
  .invisible {
    display: none;
  }
  .logos__H {
    width: 80vw;

height: 50vh;
  }
  .navigation {
    @include flex(flex, column, space-between, flex-start);
  }

}


.shadow {
  background: $color6;
  height: 0.7vw;
  border-radius: 20px;
  margin-left: 3vw;
  margin-right: 3vw;

  &--isLighter {
    background: $color7;
    height: 0.7vw;
    border-radius: 20px;
    margin-left: 6vw;
    margin-right: 6vw;
  }
}

.team {
  @include flex(flex, row, flex-start, stretch);
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 10vw;
  padding-right: 10vw;
}

.team-texts {
  background: $color7;
  @include flex(flex, column, flex-start, flex-start);
  gap: 1vw;
  //width: 100vw;
  padding: 2vw;

  &__team {
    color: $color3;
    @include font_settings($font-family-Montserrat, 1.16rem, 700);
    text-transform: uppercase;

  }

  &__infos {
    color: $color2;
    @include font_settings($font-family-Montserrat, 2.5rem, 700);

  }

  &__head1 {

    color: $color6;
    @include font_settings($font-family-Montserrat, 1.3rem, 700);
  }

  &__head2 {

    color: $color6;
    @include font_settings($font-family-Montserrat, 1.16rem, 400);
  }
}

.team > img {
  max-height: 483px;
}


.clients {
  @include flex(flex, column, center, center);
  gap: 1vw;
  padding: 2vw;

}

.clients > p {
  @include font_settings($font-family-Montserrat, 1.33rem, 700);
  text-align: center;
  color: $color4;
  text-transform: uppercase;

}

.clients-img {
  @include grid(grid, repeat(4, auto), repeat(3, auto));
}

.clients-img > img {
  width: 23vw
}

.publications {
  @include flex(flex, column, flex-start, none);
  gap: 1vw;
  padding: 2vw;
  background: $color8;


  &__header {
    @include font_settings($font-family-Montserrat, 1.16rem, 700);
    color: $color3;
    text-transform: uppercase;

  }

  &__info {
    @include font_settings($font-family-Montserrat, 3.16rem, 700);
    color: $color2;

  }
}

.blocks-info {
  @include flex(flex, row, center, stretch);
  gap: 1vw;
}

.info-items-el {
  @include flex(flex, column, none, none);
  background: $color1;
  padding: 3vw;
  gap: 2vw;

  &__img {
    width: 25vw;
  }

  &__header {
    @include font_settings($font-family-Montserrat, 1.33rem, 700);
    color: $color3;
  }

  &__header2 {
    @include font_settings($font-family-Montserrat, 1rem, 700);
    color: $color6;
    text-transform: uppercase;
    border-bottom: solid 3px $color7;

  }

  &__info {
    @include font_settings($font-family-Montserrat, 1.16rem, 400);
    color: $color9;
  }
}

.contacts {
  border-top: solid 2px $color7;
  background: $color8;
  @include flex(flex, row, space-around, stretch);
  gap: 1vw;
  padding-top: 2vw;
  padding-bottom: 2vw;

  &__legacy {
    @include font_settings($font-family-Montserrat, 1.33rem, 400);
    color: $color6;
  }
}

.footer-cont {
  @include flex(flex, column, center, flex-start);
  gap: 1vw;
}

.info-cont {
  //padding-top: 2vw;
  //padding-bottom: 1vw;
  @include flex(flex, row, center, center);
  gap: 1vw;

  &__addr {
    color: $color4;
    @include font_settings($font-family-Montserrat, 1.16rem, 400);

  }

  &__map {
    text-transform: uppercase;
    color: $color3;
    @include font_settings($font-family-Montserrat, 1rem, 700);

  }
}

.info-social {
  @include flex(flex, row, center, center);
  gap: 0.4vw;


  &__num {
    color: $color4;
    @include font_settings($font-family-Montserrat, 1.33rem, 700);
  }

  &__email {
    @include font_settings($font-family-Montserrat, 1.33rem, 700);
    color: $color3;

  }
}

@media (min-width: 390px) and (max-width: 768px) {
  .table {
    @include grid(grid, repeat(1, auto), repeat(12, auto));

  }
  .team {
    @include flex(flex, column, flex-start, stretch);

  }
  .team-texts__infos {
    @include font_settings($font-family-Montserrat, 1.3rem, 700);

  }
  .table-infos__text {
    @include font_settings($font-family-Montserrat, 0.8rem, 400);

  }
  .table-infos__header {
    @include font_settings($font-family-Montserrat, 1.1rem, 700);
    text-align: center;
  }
  .services__header {
    @include font_settings($font-family-Montserrat, 2rem, 700);
    text-align: center;
  }
  .business {
    @include flex(flex, column, center, center);

    .business__items {
      display: flex;
      overflow: auto;

    }
  }
  .business__items::-webkit-scrollbar {
    display: none;
  }
  .business__items > * {
    padding: 2vw;
    @include font_settings($font-family-Montserrat, 1.3rem, 700);

  }
.business__text:first-child{
  @include font_settings($font-family-Montserrat, 1.1rem, 700);

}
  .business__text{
    @include font_settings($font-family-Montserrat, 0.9rem, 400);
    text-align: justify;

  }

  .clients-img {
    @include grid(grid, repeat(1, auto), repeat(12, auto));
  }
  .clients-img > img {
    width: 50vw
  }
  .blocks-info {
    @include flex(flex, column, center, center);

  }
  .info-items-el__img {
    width: 60vw;
  }

  .mob {
    display: flex;
    flex-direction: column;


    &__logo {
      width: 50%;
      padding-top:2%;
    }

    &__info-lang {
      background: $color1_1;
      @include flex(flex, row, space-around, center);
      padding: 3%;

    }


  }
  .logos__text {
    @include font_settings($font-family-Montserrat, 1rem, 700);

  }


  .menu_logo {
    @include flex(flex, row, space-around, center);

    &__mob-cont {
      @include flex(flex, row, space-around, center);
    }

    &__menu {
      color: $color1;
      @include font_settings($font-family-Montserrat, 1rem, 700);
    }
  }


  .center {

    width: 50px;
  }

  .center:before,
  .center:after,
  .center div {
    background: #fff;
    content: "";
    display: block;
    height: 6px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
  }
  .center:hover:before {
    transform: translateY(12px) rotate(135deg);
  }
  .center:hover:after {
    transform: translateY(-12px) rotate(-135deg);
  }
  .center:hover div {
    transform: scale(0);
  }


}
@media (min-width: 390px) and (max-width: 768px) {
  .publications__info{
    @include font_settings($font-family-Montserrat, 2.3rem, 700);

  }
  .publications__header{
    @include font_settings($font-family-Montserrat, 0.7rem, 700);
  }
  .info-items-el{
    align-items: center

  }
  .contacts{
    @include flex(flex, column, space-around, center);
    gap: 3vw;

  }
  .footer-cont{
    @include flex(flex, column, space-around, center);

  }
  .info-social{
    @include flex(flex, column, space-around, center);

  }
  .logos__text {
    @include font_settings($font-family-Montserrat, 1.8rem, 700);
width:50vw;
    white-space: pre-wrap;
  }
}