* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.mob {
  visibility: hidden;
  display: none;
}

.container-header {
  background: linear-gradient(to bottom left, rgb(50, 50, 100) 90%, rgb(240, 20, 90));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2vw;
}

.container-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.info-lang {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.info-lang__el {
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.7vw;
  color: rgb(255, 255, 255);
}
.info-lang__el--isHighlighted {
  background: rgb(240, 20, 90);
  border-radius: 18px;
}
.info-lang__link {
  font-family: Montserrat;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0.7vw;
  color: rgb(255, 255, 255);
}

.logos {
  position: relative;
  text-align: center;
}
.logos__text {
  text-align: center;
  font-family: Montserrat;
  font-size: 3.16rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: pre;
}
.logos__symbol {
  position: absolute;
  top: 90%;
  left: 40%;
}

.business {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.business__items {
  border-right: solid 1px rgb(179, 179, 186);
  padding: 2vw;
  text-align: center;
  font-family: Montserrat;
  font-size: 3.16rem;
  font-weight: 700;
  color: rgb(179, 179, 186);
}
.business__items :first-child {
  background: -webkit-linear-gradient(rgb(240, 20, 90), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.business__text {
  width: 50%;
  padding: 2vw;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.58rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.business__text :first-child {
  font-family: Montserrat;
  font-size: 2.5rem;
  font-weight: 700;
}

.services {
  padding-top: 2vw;
  padding-left: 6vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1vw;
}
.services__header {
  color: rgb(240, 20, 90);
  font-family: Montserrat;
  font-size: 3.16rem;
  font-weight: 700;
}
.services__link {
  color: rgb(36, 163, 255);
  font-family: Montserrat;
  font-size: 1.16rem;
  font-weight: 700;
  text-transform: uppercase;
}

.table {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  gap: 2vw;
  column-gap: 3vw;
  padding: 2vw;
}

.table-infos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2vw;
}
.table-infos__header {
  color: rgb(36, 163, 255);
  font-family: Montserrat;
  font-size: 1.83rem;
  font-weight: 700;
}
.table-infos__text {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 1.3rem;
  font-weight: 400;
}

@media (min-width: 390px) and (max-width: 768px) {
  .invisible {
    display: none;
  }
  .logos__H {
    width: 80vw;
    height: 50vh;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.shadow {
  background: rgb(202, 202, 219);
  height: 0.7vw;
  border-radius: 20px;
  margin-left: 3vw;
  margin-right: 3vw;
}
.shadow--isLighter {
  background: rgb(231, 231, 242);
  height: 0.7vw;
  border-radius: 20px;
  margin-left: 6vw;
  margin-right: 6vw;
}

.team {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 10vw;
  padding-right: 10vw;
}

.team-texts {
  background: rgb(231, 231, 242);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1vw;
  padding: 2vw;
}
.team-texts__team {
  color: rgb(36, 163, 255);
  font-family: Montserrat;
  font-size: 1.16rem;
  font-weight: 700;
  text-transform: uppercase;
}
.team-texts__infos {
  color: rgb(240, 20, 90);
  font-family: Montserrat;
  font-size: 2.5rem;
  font-weight: 700;
}
.team-texts__head1 {
  color: rgb(202, 202, 219);
  font-family: Montserrat;
  font-size: 1.3rem;
  font-weight: 700;
}
.team-texts__head2 {
  color: rgb(202, 202, 219);
  font-family: Montserrat;
  font-size: 1.16rem;
  font-weight: 400;
}

.team > img {
  max-height: 483px;
}

.clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  padding: 2vw;
}

.clients > p {
  font-family: Montserrat;
  font-size: 1.33rem;
  font-weight: 700;
  text-align: center;
  color: rgb(50, 50, 100);
  text-transform: uppercase;
}

.clients-img {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
}

.clients-img > img {
  width: 23vw;
}

.publications {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: none;
  gap: 1vw;
  padding: 2vw;
  background: rgb(245, 245, 250);
}
.publications__header {
  font-family: Montserrat;
  font-size: 1.16rem;
  font-weight: 700;
  color: rgb(36, 163, 255);
  text-transform: uppercase;
}
.publications__info {
  font-family: Montserrat;
  font-size: 3.16rem;
  font-weight: 700;
  color: rgb(240, 20, 90);
}

.blocks-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 1vw;
}

.info-items-el {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  background: rgb(255, 255, 255);
  padding: 3vw;
  gap: 2vw;
}
.info-items-el__img {
  width: 25vw;
}
.info-items-el__header {
  font-family: Montserrat;
  font-size: 1.33rem;
  font-weight: 700;
  color: rgb(36, 163, 255);
}
.info-items-el__header2 {
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 700;
  color: rgb(202, 202, 219);
  text-transform: uppercase;
  border-bottom: solid 3px rgb(231, 231, 242);
}
.info-items-el__info {
  font-family: Montserrat;
  font-size: 1.16rem;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.contacts {
  border-top: solid 2px rgb(231, 231, 242);
  background: rgb(245, 245, 250);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  gap: 1vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
}
.contacts__legacy {
  font-family: Montserrat;
  font-size: 1.33rem;
  font-weight: 400;
  color: rgb(202, 202, 219);
}

.footer-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1vw;
}

.info-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.info-cont__addr {
  color: rgb(50, 50, 100);
  font-family: Montserrat;
  font-size: 1.16rem;
  font-weight: 400;
}
.info-cont__map {
  text-transform: uppercase;
  color: rgb(36, 163, 255);
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 700;
}

.info-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.4vw;
}
.info-social__num {
  color: rgb(50, 50, 100);
  font-family: Montserrat;
  font-size: 1.33rem;
  font-weight: 700;
}
.info-social__email {
  font-family: Montserrat;
  font-size: 1.33rem;
  font-weight: 700;
  color: rgb(36, 163, 255);
}

@media (min-width: 390px) and (max-width: 768px) {
  .table {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(12, auto);
  }
  .team {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
  .team-texts__infos {
    font-family: Montserrat;
    font-size: 1.3rem;
    font-weight: 700;
  }
  .table-infos__text {
    font-family: Montserrat;
    font-size: 0.8rem;
    font-weight: 400;
  }
  .table-infos__header {
    font-family: Montserrat;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
  }
  .services__header {
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
  }
  .business {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .business__items {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .business__items > * {
    flex: 0 0 auto;
    padding: 2vw;
    font-family: Montserrat;
    font-size: 1.3rem;
    font-weight: 700;
  }
  .business__text:first-child {
    font-family: Montserrat;
    font-size: 1.1rem;
    font-weight: 700;
  }
  .business__text {
    font-family: Montserrat;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: justify;
  }
  .clients-img {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(12, auto);
  }
  .clients-img > img {
    width: 50vw;
  }
  .blocks-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info-items-el__img {
    width: 60vw;
  }
  .navigation {
    display: none;
  }
  .mob {
    visibility: visible;
    display: flex;
    flex-direction: column;
  }
  .mob__logo {
    width: 50%;
    padding-top: 2%;
  }
  .mob__info-lang {
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3%;
  }
  .logos__text {
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 700;
  }
  .menu_logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .menu_logo__mob-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .menu_logo__menu {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 700;
  }
  .center {
    width: 50px;
  }
  .center:before,
  .center:after,
  .center div {
    background: #fff;
    content: "";
    display: block;
    height: 6px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
  }
  .center:hover:before {
    transform: translateY(12px) rotate(135deg);
  }
  .center:hover:after {
    transform: translateY(-12px) rotate(-135deg);
  }
  .center:hover div {
    transform: scale(0);
  }
}
@media (min-width: 390px) and (max-width: 768px) {
  .publications__info {
    font-family: Montserrat;
    font-size: 2.3rem;
    font-weight: 700;
  }
  .publications__header {
    font-family: Montserrat;
    font-size: 0.7rem;
    font-weight: 700;
  }
  .info-items-el {
    align-items: center;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 3vw;
  }
  .footer-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .info-social {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .logos__text {
    font-family: Montserrat;
    font-size: 1.8rem;
    font-weight: 700;
    width: 50vw;
    white-space: pre-wrap;
  }
}
a:hover {
  color: rgb(255, 255, 255);
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}

/*# sourceMappingURL=homepage.css.map */
