@import "genaral__style";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;

}

.navigation__service {
  @include font_settings($font-family-Montserrat, 3rem, 400);
  color: $color1;
}

.info-lang__link--isPink {
  color: $color2;
}

.service-header {
  @include flex(flex, row, space-between, center);
  gap: 1vw;

  &__dash {
    @include font_settings($font-family-Montserrat, 3.1rem, 400);
    color: $color2;
  }
}

.it-and-e-commerce-section {
  @include flex(flex, column, space-between, center);
  padding: 2vw;
  text-align: center;
  gap: 2.5vw;

  &__header {
    @include font_settings($font-family-Montserrat, 3rem, 400);
    color: $color2;
  }

  &__info {
    @include font_settings($font-family-Montserrat, 1.2rem, 400);
    color: $color1;
    padding: 2vw;
  }

  &__button {
    background: $color3;
    border-radius: 10px;
    padding: 10px 45px;
    text-align: center;
    color: $color1;
  }

  &__button:hover {
    background: $color9;
    border-color: $color2;
    transition: background .2s linear;
    transition-delay: .6s;
  }

  .lists-ecom {
    border-top: solid 1px $color7;
    @include flex(flex, column, space-between, stretch);

    &__info {
      @include font_settings($font-family-Montserrat, 1.3rem, 400);
      color: $color1;
      text-align: justify;
      padding: 2vw;
    }

    &__items {
      @include grid(grid, repeat(2, auto), repeat(2, auto));
      gap: 2vw;
      column-gap: 3vw;
      padding: 2vw;
      color: $color1;
      align-items: center;
      justify-items: start;

    }
  }

  ul li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}

.mob {
  display: none;
}

@media (min-width: 390px) and (max-width: 768px) {
  .mob {
    visibility: visible;
  }
  .navigation {
    display: none;
  }
  .it-and-e-commerce-section .lists-ecom__items {
    padding: 3vw;
    @include grid(grid, repeat(1, auto), repeat(8, auto));
    gap: 2vw;

  }
  .it-and-e-commerce-section__info {
    @include font_settings($font-family-Montserrat, 0.9rem, 400);

  }
  .it-and-e-commerce-section__header{
    @include font_settings($font-family-Montserrat, 2rem, 700);

  }
  .it-and-e-commerce-section{
    padding: 4vw;
  }
}